.shimmer-back-btn{
    width: 150px;
    height: 50px;
    background-color: #ccc;
}
.country-details .shimmer-image{
    width: 420px;
    height: 280px;
    background-color: #ccc;
}
.shimmer-country-name{
    width: 400px;
    height: 40px;
    background-color: #ccc;
}
.shimmer-details-text p{
    width: 220px;
    height: 30px;
    background-color: #ccc;
}
